body{
  margin: 0;
  background-color: #fbf8f8;
}

.search-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 900px;
  margin-top: 800px;
}

/* ---- INPUT ---- */
.search-input {
  flex: 1;
  height: 55px;
  padding: 0 20px 0 45px; 
  font-size: 20px;
  border: 2px solid hsl(0, 0%, 20%);
  background-color: #fff;
  color: rgb(72, 11, 11);
  border-right: none; 
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;

  outline: none;
  transition: all 0.25s ease;
}

.search-input::placeholder {
  color: #3f3a3a;
}

.search-input:focus {
  border-color: #7a5af8;
  box-shadow: 0px 0px 8px #7a5af8;
}

/* ---- SEARCH BUTTON ---- */
.search-button {
  height: 60px;
  padding: 0 26px;
  background-color: #ffa722;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: 8px 4px solid #ffa722;
  border-left: none; 
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  cursor: pointer;
  transition: 0.25s ease;
}

.search-button:hover {
  background-color: #dca20d;
}

/* ---- SEARCH ICON INSIDE INPUT ---- */
.search-icon {
  position: relative;
  left: 35px;
  z-index: 10;
  font-size: 20px;
  pointer-events: none; 
  color: #bbb;
}
/* -------SEARCH FORM------------ */
.search-form {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  height: 70px;
 
  text-decoration: none;
}

.no-results {
  text-align: center;
 
  font-size: 20px;
  color: #444;
  width: 100%;
  justify-content: center;
  margin-top: 500px;
}

